# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ project files
.idea/
out/

# Ignore Eclipse project files
.classpath
.project
.settings/
bin/

# Ignore NetBeans project files
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Ignore OS X metadata files
.DS_Store

# Ignore Temp files
*~
